@import "./reset/reset";

$red: #352e57;


body {
 a{
    color:rgb(207, 107, 107);
 } 
 h1{
     color:white;
 }
 h2 {
     color:rgb(41, 42, 56);
 }
    margin:10px;
    padding:10px;
    background-color: $red;
    display: grid;
    transition: all .5s;
    user-select: none;
  // background: linear-gradient(to bottom, white, black);
}

