* {
  margin: 0px;
  padding: 0; }

.web-title {
  color: white;
  font-weight: 100; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white; }
  body li {
    color: #30618a;
    list-style: none; }
  body a {
    color: #19879b; }
  body .container h1,
  body .container h2,
  body .container h3,
  body .container h4,
  body .container h5,
  body .container p {
    margin-top: 50px;
    margin-bottom: 50px; }
  body h1 {
    color: black; }
  body h2 {
    color: #091118; }
  body h3 {
    color: #162c3e; }
  body h4 {
    color: #234664; }
  body p {
    color: #091118; }
  body footer {
    background-color: #234664;
    padding: 30px; }
  body footer p {
    color: white;
    text-align: center; }

.card {
  margin-top: 10px;
  border-color: #30618a;
  border: dashed; }

.box-shadow {
  box-shadow: 0 0 5px #234664; }

.bg-custom {
  background-color: #30618a;
  color: #162c3e; }
