* {
  margin: 0px;
  padding: 0; }

.web-title {
  color: #f8f0e4;
  font-weight: 100; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f0e4; }
  body li {
    color: #74511d;
    list-style: none; }
  body a {
    color: #19879b; }
  body .container h1,
  body .container h2,
  body .container h3,
  body .container h4,
  body .container h5,
  body .container p {
    margin-top: 50px;
    margin-bottom: 50px; }
  body h1 {
    color: black; }
  body h2 {
    color: black; }
  body h3 {
    color: #221809; }
  body h4 {
    color: #4b3513; }
  body p {
    color: black; }
  body footer {
    background-color: #4b3513;
    padding: 30px;
    position: relative;
    bottom: 0; }
  body footer p {
    color: white;
    text-align: center; }

.container {
  min-height: 70vh; }

.card {
  margin-top: 10px;
  border-color: #74511d;
  border: dashed; }

.box-shadow {
  box-shadow: 0 0 5px #4b3513; }

.bg-custom {
  background-color: #74511d;
  color: #221809; }
